Package: maverick-ssh-mcp
Version: [[product.version]].[[build.number]]
Section: utils
Priority: optional
Architecture: [[build.arch.deb]]
Essential: no
Depends: libc6
Installed-Size: 1024
Maintainer: JADAPTIVE <support@jadaptive.com>
Homepage: https://www.jadaptive.com
Description: [[project.name]]
 [[project.description]]
